.andi-launcher-link::before {
  content: "";
  display: inline-block;
  width: 16px;  
  height: 16px; 
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg clip-rule='evenodd' fill-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='m12.002 2c5.518 0 9.998 4.48 9.998 9.998 0 5.517-4.48 9.997-9.998 9.997-5.517 0-9.997-4.48-9.997-9.997 0-5.518 4.48-9.998 9.997-9.998zm4.047 7.107c-.235 0-1.893.576-4.044.576-2.167 0-3.792-.576-4.045-.576-.378 0-.687.308-.687.687 0 .318.225.599.531.669.613.16 1.262.293 1.757.542.459.231.78.566.78 1.14 0 2.027-1.325 3.92-1.859 4.817-.001 0-.001 0-.001.001-.061.105-.092.224-.092.344 0 .379.308.687.687.687.184 0 .358-.072.488-.204.447-.449 1.334-1.784 1.739-2.429.2-.319.395-.621.705-.622.302.001.498.303.699.622.405.645 1.29 1.98 1.737 2.429.13.132.304.204.489.204.379 0 .687-.308.687-.687 0-.119-.031-.237-.098-.353 0-.001 0-.001-.001-.002-.546-.919-1.853-2.778-1.853-4.807 0-.609.368-.956.851-1.186.519-.247 1.167-.362 1.681-.495.31-.071.536-.352.536-.67 0-.379-.309-.687-.687-.687zm-4.031-3.113c-.875 0-1.586.713-1.586 1.593 0 .879.711 1.592 1.586 1.592.876 0 1.586-.713 1.586-1.592 0-.88-.71-1.593-1.586-1.593z' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 5px;  
}
